[Desktop Entry]
Name=Classeviva Web Docenti
Exec=python3 /home/$USER/cvv/classeviva_webdocenti.py
Icon=/home/$USER/cvv/icons/classeviva_docenti.png
Type=Application
Categories=Network;
StartupNotify=true
